/* using margin, padding, float */

:root {
    --font1: "Noto Sans", sans-serif;
    --font2: "Sofia", cursive;
    --grad: radial-gradient(
        at top center,
        #ec8da1,
        #e7718b
    );
    --icon: #fefefe;
    --prim: #e7718b;
    --sec: #26292e;
    --sec2Border: #fce3e7;
    --tert: #f4f4f6;
    /* 
    product box #444
    product border #b8bdd0
    */
}

* { box-sizing: border-box;}

/* tags */

a {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font1);
}

/* classes */

.box1-text {
    color: #fff;
}


.btn {
    padding: 4px 16px;
    color: #fff;
    text-transform: capitalize;
    background-color: var(--sec);
    border: none;
    border-radius: 5px;
}

.buttons {
    margin-top: 15px;
}


.clear {
    clear: both;
}

.client {
    color: var(--sec);
    font-weight: 700;
    text-transform: capitalize;
}

.clients-item {
    margin-bottom: 20px;
    color: #555;
    font-size: 14px;
}

.clients-list {
    padding-left: 0;
    list-style-type: none;
}

.colophon, #bottomSocialNav {
    width: 50%;
    float: left;
    /* border: 1px solid white; */
}

.colophon {
    margin: 0;
    color: #fff;
}

.container {
    margin: 0 auto;
    width: 90%;
    /* border: 1px solid dodgerblue; */
}

.footer {
    padding: 10px 0 30px;
    width: 100%;
    background-color: var(--sec);
}

.header {
    padding: 10px 0;
    width: 100%;
    background-color: var(--sec);
}

.heading, #topSocialNav {
    float: left;
}

.heading {
    margin: 0;
    width: 50%;
    color: #fff;
    font-family: var(--font2);
    text-transform: capitalize;
}

.icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    stroke-width: 0;
    color: var(--sec);
    stroke: var(--sec);
    fill: var(--sec);
}

.icons {
    background-color: #fff;
    border-radius: 50%;
}

.laptop-image {
    display: block;
    margin-left: auto;
    width: 90%;
}

.product {
    margin: 0 40px 20px 0;
    width: 275px;
    height: 135px;
    background-color: #444;
    float: left;
    border: 10px solid #b8bdd0;
    box-shadow: 0 5px 5px #aaa;
}

.products {
    width: 95%;
    height: 336px;
    /* border: 1px solid saddlebrown; */
}

.sec2-box {
    padding: 0 20px;
    width: calc(100% / 3);
    float: left;
    /* border: 1px solid blue; */
}

.sec2-subheading {
    color: var(--sec);
    font-size: calc(16px + (18 - 16) * ((100vw - 300px) / (1600 - 300)));
}

.sec3-subheading {
    color: var(--sec);
    font-size: calc(16px + (18 - 16) * ((100vw - 300px) / (1600 - 300)));
}

.sec2-text {
    color: #555;
    font-size: calc(16px + (14 - 16) * ((100vw - 300px) / (1600 - 300)));
}

.site-link {
    color: #fff;
    text-decoration: none
}

.site-link:hover {
    text-decoration: underline;
}

.social-item {
    display: inline;
}

.social-item {
    display: inline;
}

.social-nav {
    margin: 0;
    width: 50%;
}

.sub-heading {
    color: #fff;
}

.visually-hidden {
    display: none;
}
/* ids */

#bottomSocialList {
    margin: 0;
    text-align: right;
}

#clientsBox, #productsBox {
    padding: 0 20px;
    float: left;
}

#clientsBox {
    width: calc(100% / 3);
    /* border: 1px solid green; */
}

#productsBox {
    width: calc((100% / 3) * 2);
    /* border: 1px solid green; */
}

#section1 {
    padding: 20px 0;
    width: 100%;
    background-color: var(--prim);
    background-image: var(--grad);
}

#section2 {
    padding: 20px 0;
    width: 100%;
    background-color: var(--tert);
    border-bottom: 8px solid var(--sec2Border);
}

#sec1Box1, #sec1Box2 {
    margin: 0 50px;
    padding: 10px;
    width: 45%;
    float: left;
    /* border: 1px solid white; */
}

#sec1Box1 {
    margin-left: 0;
}

#sec1Box2 {
    margin-right: 0;
}

#topSocialList {
    padding-left: 0;
    text-align: right;
    list-style-type: none;
}
